.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.256);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  p {
    margin-left: 100px;
    font-size: 18px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
  }
  
  .email {
    font-weight: bold;
    color: #007bff; /* Blue color for email */
  }
  #notification {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }

  .success {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .error {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
